{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Sign in to Defra forms</h1>


<form action="/form-designer-v2/admin-2" method="post" novalidate="novalidate">

<button class="govuk-button govuk-!-margin-right-3" data-module="govuk-button" id="sign-in-button" value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3" data-module="govuk-button">
Sign in
</button>

<!-- <form action="/form-designer/register/enter-email-address" method="post" novalidate="novalidate">
  <button value="create" name="optionSelected" class="govuk-button govuk-!-margin-right-3 govuk-button--secondary" data-module="govuk-button">
Request access
</button> -->

</form>

  </div>
</div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About Defra forms
    </span>
  </summary>
  <div class="govuk-details__text">

<p class="govuk-body">Intro text.</p>
  </div>
</details>

{% endblock %}
