{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<section class="organisation__margin-bottom" id="high-profile-groups">
  <h1 class="govuk-heading-l">
    Defra forms
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
  </h1>
  <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--padding govuk-!-margin-bottom-3">
Citizen facing components and patterns
</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
    <ul class="govuk-list app-c-topic-list brand--department-for-environment-food-rural-affairs" lang="en">
      <li class="app-c-topic-list__item">
        <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/alpha/features/make-a-declaration-pattern">Make a declaration</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/alpha/features/report-the-location-pattern/contents">Report the location of something</a>
      </li>
</ul>
    <!-- <ul class="govuk-list">
      <li>
        <a href="/alpha/features/make-a-declaration-pattern">
          Make a declaration
        </a>
      </li>
      <li>
        <a href="/alpha/features/report-the-location-pattern/contents">
          Report the location of something
        </a>
      </li>
    </ul> -->
    </div>
  </section>

    <section class="organisation__margin-bottom" id="high-profile-groups">
      <h2 class="gem-c-heading gem-c-heading--font-size-27 gem-c-heading--padding gem-c-heading--border-top-5 brand--department-for-environment-food-rural-affairs brand__border-color govuk-!-margin-bottom-3">
    Form designer and builder
  </h2>
        <ul class="govuk-list app-c-topic-list brand--department-for-environment-food-rural-affairs" lang="en">
          <li class="app-c-topic-list__item">
            <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer/register/sign-in-or-create">Account creation journey</a>
          </li>
          <li class="app-c-topic-list__item">
          <a class="govuk-link govuk-link app-c-topic-list__link brand__color" href="/form-designer/admin">User management</a>
        </li>
  </ul>
      </section>

    <!-- 
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->


  </div>
</div>

{% endblock %}