{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
<div>
  <span class="govuk-tag govuk-tag--blue" style="margin-bottom: 10px;">in progress</span>

  <h2 class="govuk-heading-m">Alpha change logs</h2>
</div>

    <ul class="govuk-list">
      <li>
        <a href="/Prototypes/features">
          Make a declaration pattern dfsss
      </a>
      </li>

    </ul>


    <p>

  </p>
<!-- 
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

    
  </div>
</div>

{% endblock %}
